* {
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}


.tool-bar {
    text-align: center;
    background-color: black;
    height: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 18px;
}

.tool-bar a {
    text-decoration: none;
    color: white;
    margin: 5px;
}

.tool-bar a:hover {
    margin: 4px;
    font-size: 30px;
    transition: 1s;
}
